body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b31616;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.auth-links {
    display: flex;
}

.auth-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.landing {
    /*background-image: url('landing-image.jpeg'); */
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.landing-content {
    max-width: 800px;
    margin: 0 auto;
}

.landing h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: blueviolet;
}

.landing p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: blueviolet;
}

.btn {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d32f2f;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    background-color:red;
    color: red;
}