body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b31616;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.product-info {
    margin-left: 50px;
}

.product-info h2 {
    color: blueviolet;
}

.product-info p {
    margin: 10px 0;
}

.product-image img {
    max-width: 300px;
}

button {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
