@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    padding: 10px;
}

.container{
    max-width: 700px;
    width: 200%;
    background: #b32727;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: white;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.5s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: black;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-evenly;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    border-radius: 45%;
    margin: 0 10px 0 4px;
    cursor: pointer;
    border: 5px  solid transparent;
    background: #d9d9d9;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease;
    background: black;
}

form .button input:hover{
    background: #2ecc71;
}

form a{
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}